.content-container{
  padding: 0 $m-size; //medium size padding on the left and right
  margin: 0 auto; //evenly distribute space on the left and right via auto
  max-width: 80rem; //max width of 800 px;
}
